# Dependencies
node_modules

# Next.js
.next

# Environment
.env
.env.local
.env*.local
.env*.backup
*.backup

# Uploads
uploads
public/uploads

# Database
*.db
*.sqlite

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Misc
.DS_Store
bundle.txt
README.md